/SSE_v1/__pycache__
.DS_Store
/Results
deterministic_NN_SSE/__pycache__/
scratch/
/ProbabilityDensities
/SSE_v2/.idea
SSE_v2/__pycache__
.vscode/settings.json
*.pdf
*.png
*.csv
/src/simulators/qmc/long_range/engine/.idea
*.pyc
/src/heisenberg_ion/simulators/qmc/long_range/engine/.idea
/src/heisenberg_ion.egg-info
/tests/integration/results
/tests/integration/test_build
